

:root [
    --header-color: #2E2F42;
    --background-color: #FFFFFF;
    --text-navy-color: #2E2F42;
    --text-slate-color: #434455;
    --text-cloud-color: #F4F4FD;
    --text-iris-color: #4D5AE5;
    --text-ocean-color: #404BBF;
]
.link {text-decoration:none}
.list {
    list-style: none;
}
.team-list {
    background-color:  #F4F4FD;
}
.nav-main {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.main-logo {
    font-family: 'Raleway'
    sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.main-logotype {
    color: #2E2F42;
}
.address {
    font-style: normal;
}
.top-line-nav a {
    color: #2E2F42;
    list-style: none;
}

.top-line-nav {
    list-style: none;
    color: #2E2F42;
}
{list-style: none;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-sacing: 0.02em;}

.top-line-nav a:hover,
.top-line-nav a:focus {color: #404BBF;}
.contacts-us a:hover,
.contacts-us a:focus {color: #404BBF;}

.contacts-us a {
    color: #434455;
    list-style: none;
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-us {
    list-style: none;
}
.maine-title {
    background-color: #2E2F42;
}
.link {text-decoration: none;}

/*---Body*/
body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: var(--background-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}
/* hero title*/
.hero-title {
    background-color: #2E2F42;
    color: #FFFFFF;
}

.list {list-style: none;}

.team-list {background-color: #F4F4FD;}

.nav-main {
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
}

.main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.main-logotype {
    color: #2E2F42;
}
.address {font-style: normal;}

/*----Footer---*/
.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.foot {
    color: var(--text-cloud-color);
    background-color: #2E2F42;
    list-style: none;
}

.footer-logotype {
    color:#F4F4FD
}