:root {
    --header-color: #2e2f42;
    --link-color: #4d5ae5;
    --text-color: #434455;
    --cloud-footer-color: #f4f4fd;
    --hero-bkgrd-color: #FFFFFF;
    --hero-button-link-color: #404bbf;
    --primary-font: 'Roboto',sans-serif;
    --secondary-font: 'Raleway',sans-serif;
}


/*-----Body-----*/

body {
    font-family: var(--primary-font);
    background-color: #FFFFFF;
    color: #434455;
}

/*----header----*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--link-color);
}
.logo-header {
    color: #2e2f42;
}

.logo-footer{
    color: #f4f4fd;
}

.link {
    text-decoration: none;
}

.sate-nav .link:hover,
.sate-nav .link:focus {
    color: var(--hero-button-link-color);
}

.sate-nav {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.address {
    font-style: normal;
    color: #434455;
}
.address .link:hover,
.address .link:focus {
    color: var(--hero-button-link-color);
}
.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*----Hero----*/

.hero-title {
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: #FFFFFF;
}

.button {
font-family: var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height: 1.05;
letter-spacing: 0.04em;
color: #FFFFFF;
background-color: var(--link-color);
cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--hero-button-link-color);
}


/*----Portfolio----*/
.button-portfolio {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--link-color);
    background-color: #f4f4fd;
    cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: #FFFFFF;
    background-color: var(--hero-button-link-color);
}

.sectio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.cloud {
    background: #f4f4fd;
}
.cloud-list {
    background-color: #FFFFFF;
}
.section-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.text-description {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team {
text-align: center;
}



/*----Footer----*/
.foot {
    background-color: #2E2F42;
    color: #F4F4FD;
    font-family: 'Roboto';
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.foot {
    color: var(--text-cloud-color);
    background-color: #2E2F42;
    list-style: none;
}

.footer-logotype {
    color:#F4F4FD;
}