
/* основной цвет NAVY BLUE color: #2E2F42;*/
/* цвет контактов,текста SLATE color: #434455; */
/* цвет оглавления White color: #FFFFFF;
/*цвет футера CLOUD -CLOUD color: #F4F4FD; */
/* цвет background CLOUD background: #F4F4FD;
/* цвет в портфолио кнопок Iris color: #4D5AE5;*/

:root [
    --header-color: #2E2F42;
    --background-color: #FFFFFF;
    --text-navy-color: #2E2F42;
    --text-slate-color: #434455;
    --text-cloud-color: #F4F4FD;
    --text-iris-color: #4D5AE5;
    --text-ocean-color: #404BBF;
]

body {
    font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: var(--background-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

./header-item {
    /* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;}

ul {
    list-style: none;
}
.logo:hover {
    color:  #2E2F42;
}
/* site nav */
.site-nav a {
    color: #2E2F42;
}
.site-nav .link:hover
.set-nav .link:focus
/*address*/
.list 
.link:focus
a { color:#434455; }

/* hero title*/
.hero-title {
    background-color: #2E2F42;
    color: #FFFFFF;
}

/*section-title h2,h3 same color*/
.section-title {
    color: #2E2F42;;
}

/* Button*/
.button {

}


